<html>
    <head>
        <link rel="stylesheet" href="/static/wordstyle.css">
        <script src="{{url_for('static', filename='request.js')}}"></script>
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1> Word List - {{name}}</h1>
        </nav>
        {% endblock %}
        <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                <strong> Definition: </strong>
                  <p id="def"></p>
                  <button onclick="closeModal()">close</button>

                </div>    
        </div>
        {% block content %}
        default content 
        {% endblock %}
    </body>
</html>