{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form action="/words" method="post">
        {{ form.hidden_tag() }} 
        {{ render_field(form.word_length)}}
        <br>
        {{ render_field(form.pattern)}}
        <br>
        {{ render_field(form.avail_letters)}}
        <br> 
        <br> 
        {{error}}
        <br> 
        {{ form.submit() }}
    </form>
    <p>https://github.com/michaelsad10/words-lists</p> 
{% endblock %} 
<!-- 
{{ form.avail_letters.label }}
{{ form.avail_letters }}
{{ form.pattern.label }}
{{ form.pattern }}
{{ form.word_length.label }}
{{ form.word_length }} -->